	<div class="jumbotron">
        <h1>Baza filmów animowanych</h1>
        <p class="lead">Aby zobaczyć bazę filmów animowanych musisz być zalogowany.</p>
        <p><a class="btn btn-lg btn-success" href="/registration" role="button">Zarejestruj się</a></p>

    </div> <!-- /container -->
