.form-signin {
	background-color: #e6e6e6;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 200px;
	width: 80%;
	display: flex;
	.form-group {
		padding: 5px;
		.form-control {
			padding: 10px;
			margin: 5px;
    }
	}

.btn-primary {
	padding-left: 30px;
}

.form-control {
	width: 380px;
	margin: 5px;
	text-align: justify;

}

}
