// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-page-content {
	padding-top: 100px;
	margin: auto;
	width: 65%;
}

.form-signin {
	background-color: #e6e6e6;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
	width: 80%;
}
